


.detail-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-img{
    background-color: #FFF500;
width: 500px;
height: 575.35px;
top: 253px;
left: 1175px;
border-top-left-radius: 170px;
border-top-right-radius: 300px;
border-bottom-right-radius: 300px;
border-bottom-left-radius: 800px;

}
.btn{
 width: 275px;
height: 40px;
top: 649px;
left: 269px;
border-radius: 10px;
border: 3px #FFFFFF;
background-image: linear-gradient(to left ,orange, red);
margin: 2px;
}
.hlo-btn{
width: 197;
height: 72;
top: 300px;
left: 269px;
border: 3px #FFFFFF;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
background-image: linear-gradient(to left ,skyblue, gray);

}
.tag-line{
    width: 624;
height: 77;
top: 470px;
left: 269px;

}
.self{
    color: black;
    font-weight: bold;
}
.name{
    color: gray;
    font-weight: 300;
}